@model PasswordChangeViewModel

<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
        <form method="post" asp-action="ChangePassword">
            <div asp-validation-summary="All" class="alert-dark"></div>
            <div class="form-group">
                <label asp-for="AnvandarNamn"></label>
                <input asp-for="AnvandarNamn" class="form-control" readonly />
                <span asp-validation-for="AnvandarNamn" class="alert-dark"></span>
            </div>
            <div class="form-group">
                <label asp-for="GammaltLosenord"></label>
                <input asp-for="GammaltLosenord" class="form-control" value=""/>
                <span asp-validation-for="GammaltLosenord" class="alert-dark"></span>
            </div>
            <div class="form-group">
                <label asp-for="NyttLosenord"></label>
                <input asp-for="NyttLosenord" class="form-control" />
                <span asp-validation-for="NyttLosenord" class="alert-dark"></span>
            </div>
            <div class="text-right">
                <a class="btn btn-dark mr-1" asp-controller="Account" asp-action="MyAccount">Tillbaka</a>
                <button type="submit" class="btn btn-light">Ändra lösenord</button>
            </div>
        </form>
    </div>
</div>

