@using Uppgift2Pizzeria.ViewModels
@model List<MenuModel>

<div class="text-right mt-3 mb-4">
    <a asp-controller="Resturant" asp-action="Checkout" class="btn btn-success">Bekräfta order</a>
</div>

@{
    List<string> foodTypes = new List<string>{"Pizzor", "Pasta", "Sallad"};
}

@for (int i = 0; i < foodTypes.Count; i++)
{
    <h2 class="text-outline text-center">@foodTypes[i]</h2>
    <hr />
    <ul class="non-decorated">
        @foreach (MenuModel meal in Model)
        {
            if (meal.Meal.MatrattTyp == i+1)
            {
                @Html.Partial("_MenuMeal", meal)
            }
        }
    </ul> 

    <div class="text-right mt-3 mb-4">
        <a asp-controller="Resturant" asp-action="Checkout" class="btn btn-success">Bekräfta order</a>
    </div>
}
