<div class="row">
    <div class="col-12 col-md-6 small-box text-outline text-center pizza-background">
        <a asp-controller="Admin" asp-action="CreatePizza" class="fill-div ">
            <h1 class="py-5">Skapa pizza</h1>
        </a>
    </div>
    <div class="col-12 col-md-6 small-box text-outline text-center morot-backgound">
        <a asp-controller="Admin" asp-action="CreateIngridient" class="fill-div ">
            <h1 class="py-5">Skapa ingrediens</h1>
        </a>
    </div>
    <div class="col-12 col-md-6 small-box text-outline text-center pizza-oven-background">
        <a asp-controller="Admin" asp-action="Orders" class="fill-div ">
            <h1 class="py-5">Ordrar</h1>
        </a>
    </div>
    <div class="col-12 col-md-6 small-box text-outline text-center book-backgrund">
        <a asp-controller="Admin" asp-action="Users" class="fill-div ">
            <h1 class="py-5">Användare</h1>
        </a>
    </div>
</div>
