<div class="row">
    <div class="col-12 col-md-6 box text-outline text-center">
        <a asp-controller="Admin" asp-action="CreatePizza" class="fill-div">
            <h1 class="py-5">Meny</h1>
        </a>
    </div>
    <div class="col-12 col-md-6 box text-outline text-center">
        <a asp-controller="Admin" asp-action="MyAccount" class="fill-div">
            <h1 class="py-5">Användare</h1>
        </a>
    </div>
</div>
