@model List<Kund>

@*<h1 class="text-outline mb-2">Användare och roller</h1>*@    

<div class="row mt-2">
    <div class="col-12 col-sm-7 col-md-5 col-lg-3">
        <table>
            <tr><th class="text-outline">Användare</th><th></th></tr>
            @foreach (var customer in Model)
            {
                <tr>
                    <td class="text-outline text-gray">@customer.AnvandarNamn</td>

                    <td>
                        <a class="btn btn-light m-1"
                           asp-controller="Account"
                           asp-action="GetUserInfo"
                           asp-route-username="@customer.AnvandarNamn"
                           data-ajax="true"
                           data-ajax-method="get"
                           data-ajax-mode="append"
                           data-ajax-update="#infoBox">Ändra</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-12 col-sm-4" id="infoBox">
    </div>
</div>

<div class="row">
    <a class="btn btn-secondary mt-3 ml-2" asp-controller="Admin" asp-action="Index">Tillbaka</a>
</div>

